@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or global stylesheet */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
  